.accountedit {
    background-color: #be003c;
    color: #f5d324;
    height: 500px;
    max-width: 1000px;
    border: 2px solid rgb(243, 3, 3);
    margin: 60px auto;
    display: grid;
    grid-template-columns: 200px 800px;

}

.vertical-menu {
    width: 200px;
}

.vertical-menu button {
  background-color: #f5d324;
  
  color: black; 
  display: block; 
  padding: 20px; 
  text-decoration: none; 
  width: 200px;
  font-size: 15px;
}

.vertical-menu button:hover {
  background-color: #be003c;
}

.vertical-menu button.active {
  background-color: #acdedc; 
  color: white;
  border-right: 0px;
}

#profilepicture {
    display: none;
    text-align: center;
}

#profilepicture a {
  text-decoration: none;
  color: #000000;
}

#profilepicture img {
    border-radius: 50px;
}

#personaldetails {
    display: block;
    background-color: #be003c;
    text-align: center;
    width: 80vh;

}

#passwordsec {
    display: none;
    text-align: center;
}

#favouritescontainer {
  display: none;
  text-align: center;
}

#logout {
    display: none;
    text-align: center;
}

#logout h2 {
  margin-top: 15px;
}

#logout button {
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    box-shadow: 2.5px 2.5px;
}

.logoutbutton:hover {
  opacity:1;
  color: black;
  background-color: white;
}


/* Add padding to containers */
.changepasswordcontainer {
  padding: 8px;
  margin: auto;
  max-width: 500px;
}

b {
    margin: 0px;
    padding: 0px;
}

label {
    margin: 0px;
    padding: 0px;
}

/* Full-width input fields */
input[type=password],input[type=text] {
  width: 25vh;
  height: 5vh;
  padding: 15px;
  margin: 10px 0 22px 0;
  display: inline-block;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 2px 2px ;
  background: #f1f1f1;
}

input[type=submit] {
  padding: 10px;
  width: 15vh;

}

.button-container input[type=submit]:hover {
  color: #ffffff;
  background-color: #000000;
}

.confirmbtn {
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: 2px solid black;
  cursor: pointer;
  width: 25%;
}

.confirmbtn:hover {
  opacity:1;
  color: black;
  background-color: white;
}

#loginbutton {
  padding: 5 25px;
  text-align: center;
  font-size: 20px;
  
}

.accountmaindiv {
  width: 140vh;
  padding: 55px;
  margin: 40px auto;
  border: 2px solid black;
}

.form {
  padding: 20px;
  text-align: center;
  width: 60vh;
  height: 45vh;
  margin: auto;
  background-color: #be003c;
  color: #f5d324;
  box-shadow: 0 4px 8px 0 #f5d324, 0 6px 20px 0 #f5d324;
}


.input-container label {
  padding: 10px;
}