.homemaindiv {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.featureddiv {
    text-align: center;
    max-width: 130vh;
    margin: auto;
    display: grid;
    grid-template-columns: 60vh 60vh;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  
.ad {
  border: 2px solid black;
  margin: 10px auto;
  text-align: center;
  max-width: 60vh;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  color: #f5d324;
  background-color : #be003c;
  box-shadow: 0 4px 8px 0 #f5d324, 0 6px 20px 0 #f5d324;
}

.ad h4 {
  border-left: 0px solid black;
  padding-left: 0px;
  margin-bottom: 5px;
}

.ad img {
  width: 400px;
  border-radius: 10px 10px 0px 0px;
}

.ad button {
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  font-size: 20px;
  background-color: #f5d324;
  box-shadow: 2.5px 2.5px;
  border-radius: 8px;
  
}

.ad button:hover { 
  background-color: black;
  color: #f5d324;
}


@media screen and (max-width: 600px) {
  .featureddiv {
    grid-template-columns: 200px;
    max-width: 350px;
    margin: auto;
  }

  .ad {
    max-width: 200px;
  }

  .ad img {
    width: 200px;
  }
}

hr {
  width: 100px;
  height: 2.5px;
  margin: 2px auto;
  color: black;
  background-color: black;
}
  
i {
  color: red;
}

#carcontainer {
  text-align: center;
  margin-top: 10px;
  color: #f5d324;
}