.carContainer {
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 3em;
}

.header {
    background-color: #f4e04d;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #10375c;
    margin-bottom: 20px;
  }

table {
  margin-top: 30px;
  justify-content: center;
  max-width: 120vh;
  margin: auto;
  border: 1px solid gray;
  table-layout: fixed;
  width: 100%;
}
td {
  border: 1px solid rgb(39, 134, 186);
  width: 25%;
  text-align: center;
}

.carheaders {
  display: grid;
  grid-template-columns: 20vh 20vh 20vh 20vh 20vh;
  max-width: 120vh;
  margin: auto;
  justify-content: space-evenly;
  font-size: 25px;
  margin-bottom: 5px;
}
