.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 67vh;
    gap: 5px;
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    width: 60vh;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container h3 {
    text-align: center;
    margin: 5px;
}

.formgroup label {
    width: 10vh;
    margin: auto;
    text-align: center;
}

.form-control {
    width: 20vh;
    margin: auto;
}

#submitBtn {
    background-color: rgb(32, 82, 139);
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}

#regTitle {
    margin-left: 10%;
}