.footergrid-container {
    margin-top: 0px;  
    display: grid;
    height: 550px;
    grid-template-columns: 400px 400px;
    justify-content: space-evenly;
    background-color: #fe0000; 
    color: #f5d324;
    border: 2px solid black;
    width: 100%;
    margin-top: 600px;
}
  

iframe {
    height: 350px;
    width: 500px;
}

.googlemaps {
    height: 350px;
    width: 500px;
}


@media screen and (max-width: 600px) {
    .footergrid-container {
        grid-template-columns: 100px 100px;
    }

    .footergrid-container {
        height: 30vh;
    }

    .footergrid-container h2 {
        font-size: 25px;
        margin-top: 20px;
    }

    .footergrid-container h4 {
        font-size: 10px;
    }

    .nav-link {
        font-size: 20px;
    }

    .googlemaps {
        display: none;
    }
} 
  