.footergrid-container {
    margin-top: 150px;  
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: space-evenly;
    background: linear-gradient(to top, #587cc4, rgb(81, 180, 241));
    margin-bottom: 0px;
    border: 2px solid black;
    position: static;
    text-align: left;
}
  


@media screen and (max-width: 600px) {
    .footergrid-container {
        grid-template-columns: 200px 200px;
    }

    .footergrid-container h2 {
        font-size: 15px;
    }

    .footergrid-container h3 {
        font-size: 10px;
    }
} 
  