#homecontainer {
  text-align: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 60vh 60vh;
  width: 140vh;
  justify-content: space-evenly;
  margin: auto;
  
}

#main {
  text-align: center;
  margin: 20px;
}

#main h2 {
  color: #f5d324;
}

.homeitem {
  
  padding: 10px;
  margin-top: 20px;
  color: #f5d324;
  border-radius: 12px;
  background-color : #fe0000;
  box-shadow: 0 4px 8px 0 #f5d324, 0 6px 20px 0 #f5d324;
}

.homeitem img {
  height: 40vh;
  width: 50vh;
  border-radius: 10px;
}


@media screen and (max-width: 800px) {
  .homeitem {
    width: 50vh;


  }

  #homecontainer {
    display: block;
    width: 50vh;
  }

  .homeitem img {
    height: 20vh;
    width: 20vh;
  }
}