.container {
    float: center;
    width: 50%;
    outline: 3px solid rgb(32, 82, 139);
    margin-top: 50px;
    border-radius: 8px;
    padding: 5px;
}

#loginBtn {
    background-color: rgb(32, 82, 139);
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    margin-left: 43%;
}

#regTitle {
    margin-left: 43%;
}