
.navbar {
    background: #fe0000;
    padding: 0px;
    margin-bottom: 0px;
    font-family: Sans-serif;
}

.navbar h1 {
    color: black;
}
.navbar-brand {
    margin-left: 5px;
}

b {
    color: #f5d324;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}


li {
    display: inline;
    padding: 10px 30px;
}

.search-container {
    float: right;
}

.nav-link {
    font-size: 22px;
    color: #f5d324;
}

.nav-link:active {
    color: #fe0000;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    text-shadow: .1px .1px .1px black;
}


#accounticon {
    color: #f5d324;
    font-size: 30px;
    margin-left: 0vh;
}


#accounticon:hover {
    color: white;
}

#account {
    margin-left: 0vh;
}

.mobilenavitem {
    display: none;
}

@media screen and (max-width: 600px) {

    .navbar {
        width: 60vh;
    }
    
    .mobilenavitem .nav-link {
        display: block;
        color: #f5d324;
        margin-top: 0px;
        padding-top: 0px;
        display: block;
    }

    .mobilenavitem {
        display: block;
    }
    #account {
        margin-left: 0vh;
    }

    #accounicon {
        margin-left: 0vh;
    }
}

#title:hover,.nav-link:hover {
        animation: rotate 1s;
      }


@keyframes rotate {
    100% {
    transform: rotate(360deg);
      }
}