
.navbar {
    background: #be003c;
}
.navbar h1 {
    color: #f5d324;
}
.navbar-brand {
    margin-left: 5px;
}

b {
    color: #000000;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}


li {
    display: inline;
    padding: 10px 30px;
}

.search-container {
    float: right;
}

.nav-link {
    font-size: 22px;
    color: #f5d324;
}

.nav-link:active {
    color: #f5d324;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    text-shadow: .1px .1px .1px black;
}


#accounticon {
    color: #f5d324;
    font-size: 30px;
}

#accounticon:hover {
    color: white;
}
#account {
    margin-left: 110vh;
}

app {
    background-color: #000000;
}