.users {
  background-color : #fe0000;
    color: #f5d324;
    max-width: 70vh;
    margin: 30px auto;
    padding: 20px;
}

table {
    background-color: transparent;
    color: transparent;
}


th {
    color: #f5d324;
}

tr {
    color: #f5d324;
}

.users a {
    text-decoration: none;
}