.sellcontainer {
    text-align: center;
    width: 120vh;
    margin: 20px auto;
    color: #f5d324;
    padding: 10px;
}

.sellform {
    border: 2px solid black;
    max-width: 80vh;
    margin: auto;
    padding: 20px;
    color: #f5d324;
    background-color: #fe0000;
    box-shadow: 0 4px 8px 0 #f5d324, 0 6px 20px 0 #f5d324;
}

.sellform label {
    padding: 5px;
    margin-right: 10px;
    font-size: 25px;
}

.sellform button {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sellform button:hover {
    color: #fe0000;
    background-color: #f5d324;
}

@media screen and (max-width: 800px) { 
    .sellform {
        max-width: 40vh;
        margin: none;
    }
}